.minimap {
    padding: 10px;
    /*background: red;*/
    opacity: 0.7;
    position: absolute;
    right: 10px;
    top: 100px;
    z-index: 65534;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 77.7px;
    height: 400px;
    font-size: 6px;
    /*background: url("@{image-path}/puppy.jpg");*/
    box-sizing: border-box;
    color: white;
    
}

.youarehere {
    background-color: #888;
    opacity: .2;
    position: fixed;
    z-index: 65535;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    right: 0px;
    border: 2px solid black;
    width: 80.8px;
    height: 63.3px;
    /*top: 16.3px;*/
}

/*.overview {*/
/*    position: fixed;*/
/*    width: 777px;*/
/*    transform: scale(0.1);*/
/*    top: -540px;*/
/*    right: -354.85px;*/
/*}*/