.minimap {
    position: fixed;
    z-index: 65534;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 777px;
    transform: scale(0.1);
    top: -540px;
    right: -354.85px;
}

.youarehere {
    position: fixed;
    z-index: 65535;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    right: 0px;
    border: 2px solid black;
    width: 80.8px;
    height: 63.3px;
    top: 16.3px;
}

.overview {
    position: fixed;
    z-index: 65534;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 777px;
    transform: scale(0.1);
    top: -540px;
    right: -354.85px;
}